{% extends "user/index.html" %}
{% load crispy_forms_tags %}
{% block start %}

<div class="text-right">
    <button style="background: blue; font-size: 2rem; padding:0.5%; color: white" type="button" data-toggle="modal" data-target="#profileModal"><span class="glyphicon glyphicon-plus"></span></button>
</div>

<div class="text-right">
    <form action="{% url 'search_share' %}" class="form-inline" method="get">
        <div class="form-group mx-sm-3 mb-2">
          <label for="" class="sr-only">search_share</label>
          <input name="search_share" type="" class="form-control" id="" placeholder="Search Content in iHub">
        </div>
      <button type="submit" class="btn btn-dark btn-lg mb-2">Search</button>
      </form>
</div>

<br><br>
<div class="row">
    {% if user.is_authenticated %}
        {% if not followers_list %}
        {% else %}
            {% for f in followers_list %}
                <div class="container mx-auto">
                    <div class="row">
                        {% for p in shares_list %}
                            {% if user.username == f.username and p.username == f.followers %}
                                <div class="col-sm-12 col-md-6 col-lg-4 pb-4">
                                    <div class="h-100">
                                        <img src="/" alt="Smiley face" width="42" height="42" style="vertical-align:bottom">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ p.comment }}</h5>
                                            <p class="card-text text-muted" style="font-size:12px">{{ p.value }}</p>
                                            <a href="#" role="button" aria-disabled="false"><span class="glyphicon glyphicon-heart" style="color: red;"></span></a>
                                        </div>
                                        </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% else %}
    <center><h1>iHub</h1></center>
    {% endif %}
</div>

<div class="modal" tabindex="-1" id="profileModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">i-Hub</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form method="post">
                {% csrf_token %}
                {{ user_form|crispy }}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
        </div>
    </div>
</div>

{% endblock %}