{% load static %}
{% load crispy_forms_tags %}
{% block start %}

<style>
    .card {
      box-shadow: 0 4px 2px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 100%;
    }
    
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    
    .container {
      padding: 2px 16px;
    }
</style>

<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content="login page"/>
  <meta name="author" content="afize"/>
  <!-- loader-->
  <link href="{% static "assets/css/pace.min.css"%}" rel="stylesheet"/>
  <script src="{% static "assets/js/pace.min.js"%}"></script>
  <!--favicon-->
  <link rel="icon" href="{% static "assets/images/favicon.ico"%}" type="image/x-icon">
  <!-- Bootstrap core CSS-->
  <link href="{% static "assets/css/bootstrap.min.css"%}" rel="stylesheet"/>
  <!-- animate CSS-->
  <link href="{% static "assets/css/animate.css"%}" rel="stylesheet" type="text/css"/>
  <!-- Icons CSS-->
  <link href="{% static "assets/css/icons.css"%}" rel="stylesheet" type="text/css"/>
  <!-- Custom Style-->
  <link href="{% static "assets/css/app-style.css"%}" rel="stylesheet"/>
</head>

<body class="bg-theme bg-theme1">
    <!-- Start wrapper-->
    <div id="wrapper">
        <!--Start topbar header-->
        <header class="topbar-nav">
            <nav class="navbar navbar-expand fixed-top">
                <ul class="navbar-nav mr-auto align-items-center">
                    <li class="nav-item">
                        <form class="form-inline" action="{% url 'search' %}" method="get">
                            <label for="" class="sr-only">search</label>
                            <input name="search" type="" class="form-control" id="" placeholder="Username">
                            <button type="submit" class="btn btn-info btn-lg mb-1">Search</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <form class="form-inline" action="{% url 'search_share' %}" method="get">
                            <label for="" class="sr-only">search_share</label>
                            <input name="search_share" type="" class="form-control" id="" placeholder="Post">
                            <button type="submit" class="btn btn-info btn-lg mb-1">Search</button>
                        </form>
                    </li>
                </ul>
                <ul class="navbar-nav align-items-center right-nav-link">
                    <li class="nav-item"><i class="mr-4"><a href="{% url "post" %}">Post</a></i></li>
                    <li class="nav-item"><i class="mr-4"><a href="{% url "home" %}">Home</a></i></li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
                            <span class="user-profile"><img src="{% static "assets/images/user_avatar.jpg"%}" class="img-circle" alt="user avatar"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="dropdown-item user-details">
                                <a href="javaScript:void();">
                                    <div class="media">
                                        <div class="avatar"><img class="align-self-start mr-3" src="{% static "assets/images/User-avatar.svg.png"%}" alt="user avatar"></div>
                                        <div class="media-body">
                                            {% if user.is_authenticated %}
                                                <h6 class="mt-2 user-title">{{user.first_name}} {{user.last_name}}</h6>
                                                <p class="user-subtitle">{{user.email}}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item"><i class="icon-wallet mr-2"></i><a href="{% url "userPage" %}">Account</a></li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item"><i class="icon-settings mr-2"></i><a href="{% url "profile" %}">Setting</a></li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item"><i class="icon-power mr-2"></i><a href="{% url "logout" %}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <!--End topbar header-->
        <div class="content-wrapper">
            <div class="container-fluid">
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-content p-3">
                                <div class="tab-pane active" id="profile">
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ form.as_p }} 
                                        <div class="form-row">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label class="small mb-1">First Name:</label>
                                                        {{ user_form.first_name }}
                                                    <label class="small mb-1">Last Name:</label>
                                                        {{ user_form.last_name }}
                                                    <label class="small mb-1">Occ:</label>
                                                        {{ user_form.occupation }}
                                                    <label class="small mb-1">Interest:</label>
                                                        {{ user_form.interest }}
                                                    <label class="small mb-1">Bio:</label>
                                                        {{ user_form.bio }}
                                                    <label class="small mb-1">Img:</label>
                                                        {{ user_form.image }}
                                                </div>
                                            </div>
                                        </div>
                                        <br><br>
                                        <button type="submit" class="btn btn-dark btn-lg">Save Changes</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--End wrapper-->
    <!-- Bootstrap core JavaScript-->
    <script src="{% static "assets/js/jquery.min.js"%}"></script>
    <script src="{% static "assets/js/popper.min.js"%}"></script>
    <script src="{% static "assets/js/bootstrap.min.js"%}"></script>
    
    <!-- simplebar js -->
    <script src="{% static "assets/plugins/simplebar/js/simplebar.js"%}"></script>
    <!-- sidebar-menu js -->
    <script src="{% static "assets/js/sidebar-menu.js"%}"></script>
    
    <!-- Custom scripts -->
    <script src="{% static "assets/js/app-script.js"%}"></script>
</body>
</html>
{% endblock %}