{% extends "user/index.html" %}
{% load crispy_forms_tags %}
{% block start %}

<style>
    .card {
      box-shadow: 0 4px 2px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 40%;
    }
    
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    
    .container {
      padding: 2px 16px;
    }
</style>

<body>
<br/></br/>
<div class="container">
   <div class="col-md-8 offset-md-2">
        {% if query %}
            <h2>
                {% with results.count as total_results %}
                    Found {{ total_results }} result{{ total_results|pluralize }}
                {% endwith %}
            </h2>
            {% for u in results %}
                <div class="col-sm-12 col-md-6 col-lg-4 pb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ u.comment }}</h5>
                            <p class="card-text text-muted" style="font-size:12px">{{ u.username }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h3>No results found.</h3>
        {% endif %}
    </div>
</div>
</body>

{% endblock %}